# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# build artifact
cba-hostinger.zip

# SAM build artifacts
aws/.aws-sam/

# clave de administración
aws/.admin-key.txt
